<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="example-1">
    <button v-on:click="counter=counter+1">+1</button>
    <p>Кнопка выше была нажата {{counter}} раз</p>
</div>

<div id="example-2">
   <button v-on:click="greet">Поприветствовать</button>
</div>

<div id="example-3">
    <button v-on:click="say('Да')">Скажи</button>
    {{message}}
    <button v-on:click="say('Нет')">Скажи</button>
    <br>
    <button v-on:click="warn('Форма пока что не может быть отправлена.', $event)">
        Отправить
    </button>
    <br>
    v-on:keyup.esc="submit" <input v-on:keyup.esc="submit_v_on" v-model="messagetext"><br>
    @keyup.enter="submit" <input @keyup.enter="submit_short" v-model="messagetext1"><br>
    @keyup.page-down="page_down" <input @keyup.page-down="page_down" v-model="messagetext2"><br>
    Press Alt+C in <input @keyup.alt.67="alt_c"><br>
    <div @click.ctrl="click_ctrl" style="color: red">Ctrl + Click</div>

    @click.ctrl <button @click.ctrl="onClick">A</button><br>
    @click.exat <button @click.exact="onClick">A</button><br>
    @click.exat.rigth <button @click.right.exact="onClick">A</button><br>

</div>



<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="eventexample.js"></script>
</body>
</html>