<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <title>Title</title>
</head>
<body>
<div id="example-1">
    <input v-model="message" placeholder="отредактируй меня">
    <p>Введённое сообщение: {{message}}</p>
</div>
<script>
    new Vue({
        el: '#example-1',
        data:{
            message:''
        }
    })
</script>
<div id="example-2">
<span>Введённое многострочное сообщение:</span>
<p style="white-space: pre-line;">{{ message }}</p>
<br>
<textarea v-model="message" placeholder="введите несколько строчек"></textarea>
</div>
<script>
    new Vue({
        el: '#example-2',
        data:{
            message:''
        }
    })
</script>
<div id="example-3">
    <input type="checkbox" id="chekbox" v-model="checked">
    <label for="chekbox">{{checked}}</label>
</div>
<script>
    new Vue({
        el:'#example-3',
        data:{
            checked:false
        }
    })
</script>
<div id="example-4" class="demo">
    <input type="checkbox" id="dan1" value="Jack" v-model="checkNames">
    <label for="dan1">Dan1</label>

    <input type="checkbox" id="dan2" value="John" v-model="checkNames">
    <label for="dan2">Dan2</label>

    <input type="checkbox" id="dan3" value="Mike" v-model="checkNames">
    <label for="dan3">Dan3</label>

    <br>
    <span>Отмеченные имена: {{ checkNames }}</span>
</div>
<script>
    new Vue({
        el:'#example-4',
        data:{
            checkNames:[]
        }
    })
</script>
<div id="example-5">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">Один</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Два</label>
    <br>
    <span>Выбрано: {{picked}}</span>
</div>
<script>
    new Vue({
        el:'#example-5',
        data:{
            picked:''
        }
    })
</script>
<div id="example-6">
    <select v-model="selected">
        <option disabled value="">Выберите один из вариантов</option>
        <option>А</option>
        <option>Б</option>
        <option>В</option>
    </select>
    <span>Выбрано: {{selected}}</span>
</div>
<script>
    new Vue({
        el:'#example-6',
        data:{
            selected:''
        }
    })
</script>
Выбор нескольких вариантов из списка (с привязкой к массиву):
<div id="example-7">
    <select v-model="selected" multiple>
        <option>А</option>
        <option>Б</option>
        <option>В</option>
    </select>
    <br>
    <span>Выбрано: {{ selected }}</span>
</div>
<script>
    new Vue({
        el:'#example-7',
        data:{
            selected:[]
        }
    })
</script>
Динамическое отображение опций с помощью v-for:
<div id="example-8">
    <select v-model="selected1">
        <option v-for="option in options" v-bind:value="option.value">
            {{option.text}} {{option.value}}
        </option>
    </select>
    <span>Выбрано: {{selected1}}</span>
    <input type="radio" v-model="picked2" value="a">
    {{picked2}}<br>
    <input type="checkbox" v-model="toggle2">{{toggle2}}<br>
    <select v-model="selected2">
        <option value="abc">ABC</option>
    </select>{{selected2}}
</div>
<script>
    new Vue({
        el:'#example-8',
        data:{
            selected2:'',
            selected1:'A',
            toggle2:false,
            picked2:'',
            options:[
                {text:'One', value:'A'},
                {text:'Two', value:'B'},
                {text:'Three', value:'C'}
            ]
        }
    })
</script>

<br>#Чекбокс
<div id="example-9">
    <input type="checkbox" v-model="toggle3" true-value="YES" false-value="NO">
    {{toggle3}}

    <br># Списки выбора
    <input type="radio" v-model="pick3" id="t1" v-bind:value="A">
    <input type="radio" v-model="pick3" id="t2" v-bind:value="B">
    {{pick3}}
</div>
<script>
    var vm = new Vue({
        el:'#example-9',
        data:{
            toggle3:'',
            pick3:'',
            test:''
        }
    })
    Test1
</script>
</body>
</html>